@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dropzone/styles.css';
@import '@mantine/spotlight/styles.css';
@import '@mantine/charts/styles.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--fb-app-bg, var(--mantine-color-gray-0));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
